#container {
    display: flex;
    justify-content: center;
  }
#tooltip {
    background-color: #fae7f2;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 10px;
}
.cell:hover {
    outline: 2px solid rgb(0, 0, 0);
}